@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhai+2&family=Poppins&family=Raleway:wght@600&display=swap');
*{
    margin: 0;
    padding: 0;
}
body{
    background-color: rgb(209, 204, 204);
    
}
p{
    text-align: center;
}
h1{
    text-align: center;
    font-family: 'Baloo Bhai 2', cursive;
}
.contact{
    border-width: 3px;
    border-color: black;
    border-style: double;
    flex: auto;
    text-align: center;
    display: table;
}
.bio{
    margin: 5%;
    background-color: lightgray;
    border-color: brown;
    border-radius: 5%;
    display: table-cell;
}
nav{
    background-color: black;
}
nav ul{
    display: flex;
    list-style: none;
    font-family: 'Poppins', sans-serif;
}
nav ul li{
    padding: 20px 35px;
}
nav ul li a:hover{
   color: grey;
}
nav ul li a{
    color: white;
    text-decoration: none;
}
form{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
    flex-direction: column;
    font-family: 'Baloo Bhai 2', cursive;
}
input{
    height: 46px;
    width: 450px;
    padding: 0 15px;
    font-size: 20px;
    border-radius: 25px;
}
input:hover{
    background-color: yellow;
}
.text-size{
    margin: 5px;
    font-size: 25px;
}
#btn{
    padding: 13px 63px;
    font-size: 20px;
    font-family: 'Raleway', sans-serif;
    cursor: pointer;
    background-color: #cd4b4b;
    color: white;
    border-radius: 30px;
    margin: 17px;
}
#btn:hover{
    background: linear-gradient(rgb(121, 250, 46), yellow);
    color: black;
}