@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Raleway:wght@600&display=swap');
*{
    margin: 0;
    padding: 0;
}
body{
    background: center/cover no-repeat url("../img/bg.jpg");
    height: 100vh;
}
nav{
    background-color: black;
}
nav ul{
    display: flex;
    list-style: none;
    font-family: 'Poppins', sans-serif;
}
nav ul li{
    padding: 20px 35px;
}
nav ul li a:hover{
   color: grey;
}
nav ul li a{
    color: white;
    text-decoration: none;
}
.search{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: 'Poppins', sans-serif;
}
#name{
    font-family: 'Raleway', sans-serif;
    width: 400px;
    padding: 15px 10px;
    margin: 20px 0;
    font-size: 20px;
    border: 2px solid red;
    border-radius: 30px;
}
#name:hover{
    background-color: rgb(94, 237, 241);
}
.btn{
   padding: 10px 20px;
   font-family: 'Poppins', sans-serif;
   background-color: rgb(216, 207, 207);
   font-size: 18px;
   border-radius: 10px;
   cursor: pointer;
}
.btn:hover{
    color: white;
    background: linear-gradient(rgb(219, 132, 132), rgb(83, 139, 83));
}